.positionSliderContainer {
    width: 100%;
    padding: 0;
    margin: 0;
    gap: var(--gap-s);

    padding-left: var(--padding-xs);
}

.containerTitle {
    color: var(--text2, #bcbcc4);
    font-size: var(--font-size-s, 12px);
}

.sliderWithValue {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: var(--gap-m);
}

.sliderContainer {
    flex: 1;
    position: relative;
    padding: 0 7px;
}

.sliderTrack {
    position: relative;
    width: 100%;
    height: 4px;
    cursor: pointer;
}

.sliderTrack::before {
    content: '';
    position: absolute;
    top: -12px;
    bottom: -12px;
    left: 0;
    right: 0;
    z-index: 1;
}

.sliderBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-dark4);
    border-radius: 2px;
}

.sliderActive {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--accent1);
    border-radius: 2px;
}

.sliderMarker {
    position: absolute;
    width: 3px;
    height: 8px;
    border-radius: var(--radius-s);
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--accent1);
    z-index: 2;
    background: var(--accent1);
}

.sliderMarker.active {
    background: var(--accent1);
}

.sliderMarker:hover {
    background: var(--accent2) !important;
    border-color: var(--accent2) !important;
}

.sliderMarkerCurrent {
    display: none;
}

.sliderKnob {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--accent1);
    background-color: var(--bg-dark1);
    z-index: 3;
    cursor: grab;
    outline: none;
}

.sliderKnobTransparent {
    border: 2px solid var(--bg-dark4);
    background: var(--bg-dark4);
}

.sliderKnob:active {
    cursor: grabbing;
}

.labelContainer {
    position: relative;
    width: 100%;
    height: 20px;
    margin-top: -25px;
}

.valueLabel {
    position: absolute;
    transform: translateX(-50%);
    font-size: var(--font-size-xs, 10px);
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    padding: 5px;
}

.valueLabel:hover {
    color: var(--text1) !important;
}

.valueDisplay {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark3);
    border-radius: var(--radius-s);
    padding: 0 var(--padding-s);
}

.valueInput {
    width: 100%;
    height: 32px;
    background-color: transparent;
    border: none;
    color: var(--text1);
    font-size: var(--font-size-s, 12px);
    text-align: center;
    outline: none;
}

.valueSuffix {
    font-size: var(--font-size-s, 12px);
}
