/* top-level return for `MarginModal.tsx` file */
.margin_modal_content {
    display: flex;
    flex-direction: column;
    padding: var(--padding-s) var(--padding-m) var(--padding-m) 16px;
    gap: var(--gap-m);
}

/* wrapper for the two margin mode buttons */
.margin_buttons {
    display: flex;
    flex-direction: row;
    gap: var(--gap-m);

    /* centralized CSS for border to apply situationally */
    --margin_modal_button_border: 1px solid var(--accent1);
}

/* clickable buttons to change the current margin mode */
.margin_buttons > button {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width is specified in Figma */
    width: 340px;
    gap: var(--gap-m);
    padding: var(--padding-m);
    border: 1px solid var(--bg-dark4);
    border-radius: var(--radius-m, 16px);
    font-size: var(--font-size-s, 12px);
    color: var(--text2, #bcbcc4);
    background-color: var(--bg-dark4, #27272c);
    text-align: start;
    transition: all var(--ease-in-out-med);
}

/* hover effect for margin mode buttons */
.margin_buttons > button:hover {
    border: var(--margin_modal_button_border);
}

/* headline text inside each margin mode button */
.margin_buttons > button > h3 {
    font-size: var(--font-size-m, 18px);
    color: var(--text1);
}

/* main CTA to accept current selection and close the modal */
.margin_modal_content > button {
    padding: 12px var(--padding-m);
    width: 100%;
    background-color: var(--accent1);
    border-radius: var(--radius-s);
    font-size: var(--font-size-m);
}

/* CSS to add the purple border to whichever button is clicked */
.selected {
    border: var(--margin_modal_button_border) !important;
}

@media (max-width: 768px) {
    .margin_modal_content {
        width: auto;
    }
}
