.symbolInfoContainer {
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--radius-m);
}

/* no need to override anymore */

.symbolInfoContainer div {
    /* height: auto !important; */
}

.symbolInfoFieldsWrapper {
    display: grid;
    grid-template-columns: repeat(7, auto) !important;
    gap: var(--gap-m);
    margin-left: var(--margin-l);
    border-radius: 0 !important;
}

@media only screen and (max-width: 768px) {
    .symbolSelector {
        margin-left: 0 !important;
    }
}
