.DS_Store
node_modules

# misc
.env*
.vscode

# React Router
.react-router
build

# Netlify
.netlify

# Tradingview
packages/frontend/public/tv/charting_library
packages/frontend/public/tv/datafeeds
packages/frontend/public/tradingview/charting_library
packages/frontend/public/tradingview/datafeeds
public/tv/charting_library
public/tv/datafeeds
public/tradingview/charting_library
public/tradingview/datafeeds

prompts/scratchpad*.md