.watchListNodeContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    font-size: var(--font-size-s);
    height: 40px;
}

.watchListNodeContent {
    flex-direction: row;
    display: flex;
    gap: var(--gap-s);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all var(--ease-in-out-fast);
    height: 70%;
    width: 100%;
    align-self: center;
    padding: 0 var(--margin-s);
    border-radius: var(--radius-s);
}

.disabled .watchListNodeContent {
    cursor: default;
    color: var(--text2);
}

.watchListNodeContainer div {
    background-color: transparent !important;
}

.watchListNodeContent.active {
    cursor: default;
}

.watchListNodeContent:not(.active):hover {
    background-color: var(--bg-dark3, #1c1c22) !important;
}

.disabled .watchListNodeContent:not(.active):hover {
    background-color: transparent !important;
}
