.orderBookBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xs);
    gap: var(--gap-xs);
}

.orderBookContainer {
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.orderBookBlockMid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: var(--gap-xs);
    background-color: var(--bg-dark4);
    margin: var(--margin-xs) 0;
    padding: 0 var(--padding-m);
}

.orderBookHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: var(--gap-xs);
    margin: var(--margin-xs) 0;
    padding: 0 var(--padding-xs);
    color: var(--text3);
}

.orderRowWrapper {
    width: 100%;
    position: relative;
}

.ratioBar {
    transition: width var(--ease-in-out-med);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.2;
}

.dummyOrderRow {
    position: fixed;
    top: -100vh;
    left: 0;
    background-color: var(--dark4);
    z-index: -1;
    opacity: 0;
}

.skeletonWrapper .orderRowWrapper {
    overflow: hidden;
}

.blankRowContent {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
}

.orderSlotsWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.obGradientEffect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    opacity: 0.03;
}
.obGradientEffect.smaller {
    opacity: 0.05;
    height: 5%;
}

.obGradientEffectBottom {
    top: auto;
    bottom: 0;
}

@media (max-width: 768px) {
    .orderSlotsWrapper {
        justify-content: flex-start;
    }
}
